# Dictionaries:
- It is used to store data values in **key:Value** pairs
- Dictionary separates key and value by using colon symbol and key:value separated by comma and enclosed with curly brackets

In [2]:
d1 = {"Name":"Python","Email":"Python@gmail.com","City":"Viskhapatanam"}
print(d1)
print(type(d1))

{'Name': 'Python', 'Email': 'Python@gmail.com', 'City': 'Viskhapatanam'}
<class 'dict'>

In [3]:
# Access to keys
d1.keys()

dict_keys(['Name', 'Email', 'City'])

In [4]:
# Access Values
d1.values()

dict_values(['Python', 'Python@gmail.com', 'Viskhapatanam'])

In [6]:
# Access Particular Key
print(d1["Name"])

Python

In [8]:
# Update particular key value
d1["Name"]="Ajay"
print(d1)

{'Name': 'Ajay', 'Email': 'Python@gmail.com', 'City': 'Viskhapatanam', 'name': 'Ajay'}

In [9]:
d1.items()

dict_items([('Name', 'Ajay'), ('Email', 'Python@gmail.com'), ('City', 'Viskhapatanam'), ('name', 'Ajay')])

In [10]:
# Pop Method
d1.pop("Email")
print(d1)

{'Name': 'Ajay', 'City': 'Viskhapatanam', 'name': 'Ajay'}

# Functional Programming:
- Gruop of statements which can perform a specific task.
- used for code reusabaility
- It makes program can be divided into multiple sub blocks
- Function can be defined with **def** keyword

In [ ]:
# Syntax:
def <Function_name>(<Paramaters):
    Statement
    return

In [13]:
# Add 2 number 
def add(x,y):
    print(x+y)
    print(x-y)
    print(x*y)
    print(x/y)
add(4,5)

9
-1
20
0.8

In [12]:
add(13,12)

25

In [14]:
# Cube
def cube(a):
    return a*a*a
cube(5)

125

In [15]:
cube(45)

91125

In [16]:
# Input:123456
# Output: (2+4+6)= 12
def even(x):
    sum = 0
    while x !=0:
        a = x%10
        if a %2==0:
            sum = sum+a
        x = x//10
    return sum
even(123456)

12

In [17]:
# find large number
# input: 12345
# output: 5
def large(n):
    large = 0
    while n !=0:
        a = n%10
        if large<a:
            large = a
        n = n//10
    return large
large(12345)

5

In [20]:
# Input: 123
# output: 321
def reverse(n):
    rev = 0
    while n !=0:
        a = n%10
        rev = rev*10+a
        n = n//10
    return rev
reverse(123)

321

In [22]:
 # print  N Natural number
def number(n):
        for i in range(1,n+1):
            print(i,end =" ")
number(15)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [23]:
number(50)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [24]:
number(100)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [26]:
number(10)

1 2 3 4 5 6 7 8 9 10

In [27]:
def series(s,e):
    for i in range(s,e+1):
        print(i,end=" ")
series(2,11)

2 3 4 5 6 7 8 9 10 11

In [28]:
series(1,10)

1 2 3 4 5 6 7 8 9 10

In [29]:
series(11,100)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100